//primary-colors
$Red: hsl(0, 78%, 62%);
$Cyan: hsl(180, 62%, 55%);
$Orange: hsl(34, 97%, 64%);
$Blue: hsl(212, 86%, 64%);

//neutral colors
$VeryDarkBlue: hsl(234, 12%, 34%);
$GrayishBlue: hsl(229, 6%, 66%);
$VeryLightGray: hsl(0, 0%, 98%);

body {
    font: {
        size: 15px;
        family: "Poppins", arial;
    }

    color:$VeryDarkBlue;
    background-color: $VeryLightGray;
}

header {
    width: 500px;
    margin: auto;
    text-align: center;

    .title {
       

        .title__un {
            font: {
                weight: 400;
                size: 30px;
            }

            margin: 0;

        }

        .title__deux {
            font: {
                weight: 600;
                size: 31px;
            }

            margin: 0;
        }
    }
    
}

.card {
    width: 350px;
    height: 220px;
    text-align: left;
    border: 0;
    padding: 2rem;
    margin :10px;
    border-radius: 5px;
    box-shadow: 3px 5px 8px 2px $GrayishBlue;
    
    
    p{
        width: 300Px;
    }

}

.card__img-container {
    text-align: right;
}
.card--border-cyan {
    border-top: 4px solid $Cyan;
}
.card--border-red {
    border-top: 4px solid $Red;
}
.card--border-orange {
    border-top: 4px solid $Orange;
}
.card--border-blue {
    border-top: 4px solid $Blue;
}


.row {
    display: flex;
    justify-content: center;

    .col {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
